@import url('../general/general.css');

.header {
    position: relative;
    z-index: 4;
}
.main {
    width: 95%;
    margin: 10px auto;
}
.main__cart-section {
    margin-bottom: 25px;
    position: relative;
    width: fit-content;
    margin-left: auto;
}
.main__cart {
    margin: 0 10px 25px auto;
}
.cart {
    display: block;

    width: 50px;
    height: 50px;
    
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;

    position: relative;
}
.cart__after {
    width: 25px;
    height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;

    background-color: rgb(158, 15, 15);
    color: white;
    
    font-size: 1em;

    position: absolute;
    right: calc(0px - 25%);
    top: calc(0px - 30%);
}
.cart svg {
    width: 100%;
    height: 100%;
}
.cart-section__wrap {
    height: 500px;

    list-style: none;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;

    box-shadow: 2px 4px 12px 0 rgb(0 0 0 / .05);
    
    overflow-y: auto;
}
.cart-section__items {
    list-style: none;
    width: 310px;
}
.cart-section__items li {
    display: grid;
    column-gap: 10px;

    grid-template-columns: 100px minmax(200px, 300px);
    grid-template-rows: repeat(3, min-content);
}
.cart-section__items li:not(:last-child) {
    margin-bottom: 10px;
}
.cart-section__items > li > .card__title {
    grid-row: 1 / 2;
    align-self: end;
    margin-bottom: 10px;
}
.cart-section__items > li > .card__image {
    grid-row: 1 / 4;
}
.cart-section__items > li > .card__price {
    margin-bottom: 5px;
}
.cart-item__delete-btn {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.cart-items__delete-all-btn {
    margin-bottom: 20px;
    width: 100%;
}

.main__cards {
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    justify-content: center;
    column-gap: 15px;
    row-gap: 30px;
}
.cards__item, .cart-section__items li {
    transition: all 0.3s ease 0s;

    height: fit-content;
}
.cards__item {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}
.cards__item:hover {
    color: rgb(158, 15, 15);
}
.card {
    cursor: grab;
}
.card:active {
    cursor: grabbing;
}
.card__image {
    background-color: rgb(245, 245, 245);

    border-radius: 15px;

    max-width: 100%;

    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card__image img {
    width: 100%;   
    aspect-ratio: 1 / 1;
    padding: 20px;
}
.card__title {
    font-size: 1em;
}
.card__price {
    font-size: .85em;
    display: flex;
    justify-content: space-between;
}
.card__price span:last-of-type {
    display: flex;
    flex-flow: row nowrap;
}

/* Pop-Up styles */
.pop-up {
    display: block;
    
    position: absolute;
    z-index: 3;

    pointer-events: none;
    cursor: none;

    transition: all 0.3s ease-out 0s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up-page {
    top: 0;
    transform: scale(0);
}
.pop-up-notific {
    transform: translateX(-100%);
    top: 15%;
    z-index: 5;
}

.pop-up-background.pop-up-page {
    width: 100%;
    height: 100%;

    background-color: white;
}
.pop-up-background.pop-up-notific {
    width: fit-content;
    height: 50px;

    background-color: white;

    border: 1px solid black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: none;

    left: -10px;
}
.pop-up__text {
    width: fit-content;
    padding: 0 10px 0 20px;
}

.pop-up.active {
    pointer-events: all;
    cursor: auto;
}
.pop-up-page.active {
    transform: scale(1);
}
.pop-up-notific.active {
    transform: translateX(0%);
}

.pop-up__block {
    z-index: 4;
    transition: all 0.3s ease-out 0s;

    width: fit-content;
    background-color: #fff;
}
.pop-up__close-btn {
    width: 24px;
    height: 24px;

    background-color: transparent;

    margin: 0 15px 10px auto;

    display: block;
}
.pop-up__close-btn svg {
    width: 100%;
    height: 100%;
}
body.pop-up-lock {
    overflow: hidden;
}

.pop-up__item-page {
    display: grid;
    grid-template-areas: 
        'photo title'
        'photo description'
        'photo price'
        'photo rating'
    ;
    align-items: center;
    column-gap: 20px;
    grid-template-rows: repeat(3, min-content);
}

.item-page__photo {
    grid-area: photo;
    width: 85%;
    justify-self: end;
}
.item-page__photo img {
    width: 100%;
}
.item-page__description {
    grid-area: description;
    margin-bottom: 10px;
}
.item-page__title {
    grid-area: title;
    align-self: end;
    margin-bottom: 10px;
}
.item-page__price {
    align-self: start;
    grid-area: price;
}
.item-page__rating {
    align-self: start;
    grid-area: rating;
}
.item-page__rating span:not(:last-child) {
    margin-right: 25px;
}

.form {
    width: fit-content;

    margin: 0 auto 10px;

    display: flex;
    align-items: start;
    gap: 10px;
}
.form__group {
    border: 1px solid black;
    border-radius: 5px;

    padding: 5px;
}
.search-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
}
.search-form * {
    width: 100%;
}
.search-form input {
    border: 1px solid black;
    border-radius: 5px;

    padding: 5px 10px 5px;
}
.search-form input:focus {
    outline: 1px solid rgb(158, 15, 15);
    border: 1px solid rgb(158, 15, 15);
}

@media screen and (max-width: 599px) {
    .item-page__title {
        font-size: 1.25em;
    }
    .item-page__description, .item-page__price {
        font-size: 0.9em;
    }
    .pop-up__close-btn {
        width: 20px;
        height: 20px;
    }
}